<li>
    <p><%= link_to event.name, event %></p>
    <p>Classroom: <%= event.classroom %></p>
    <p>Meal: <%= event.meal %></p>
    <p>Created At: <%= event.created_at %></p>
    <p>Updated At: <%= event.updated_at %></p>
</li>