<% provide(:title, @event.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
           <h1>
               <%= @event.name %>
           </h1>
        </section>
    </aside>
</div>


<p>Name: <%= @event.name %>, Classroom: <%= @event.classroom %>, Meal: <%= @event.meal %></p>
<p>Created At: <%= @event.created_at %></p>
<p>Updated At: <%= @event.updated_at %></p>
<%= will_paginate %>            

<div class="table table-striped table-bordered">
    <table>
      <thead class="thead">
        <tr>
          <th>Student First Name</th>
          <th>Student Last Name</th>
          <th>Allergies</th>
          <th>Teacher</th>
          <th>Present</th>
          <th>Brought Lunch</th>
          <th>Fed</th>
          <th>Milk Only</th>
          <th>Edit</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    </table>
</div>

<% @event.event_attendance_records.each do |ear| %>
<p><%= render ear %></p>
<% end %>

<%= will_paginate %>