<% provide(:title, @event.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
           <h1>
               <%= @event.name %>
           </h1>
        </section>
    </aside>
</div>

<%= will_paginate %>            

<p>Name: <%= @event.name %>, Classroom: <%= @event.classroom %>, Meal: <%= @event.meal %></p>
<p><%= @event.total_present %></p>
<p>Created At: <%= @event.created_at %></p>
<p>Updated At: <%= @event.updated_at %></p>
<%# @event_attendance_records.each do |ear| %>
<p><%#= ear %></p>

<%# end %>

<% @event.event_attendance_records.each do |ear| %>
<p><%= render ear %></p>
<% end %>

<%= will_paginate %>